$background: #e8e8e8;

html,
body {
    background-color: $background;
    height: 100%;
    margin: 0
}

.outer {
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

.jumbotron {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    color: #EEE;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), 0 0 7px black;

    margin: 0;
    padding: 70px 0;
}

.navbar {
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0.5, 0.5, 0.5, 1), 0 -5px 10px #EEE inset;
    margin: 0;
    min-height: unset;
}

.content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    text-align: center;
}

.notes {
    flex: 0 1 auto;

    background-color: rgba($background, 0.8);
    padding: 2em;
    border-radius: 5px;
}

.footer {
    flex: 0 1 auto;
}

.footer .col-md-4 {
    text-align: center;
}

.footer {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

@media (min-width: 992px) {
    .footer .col-md-4:first-child {
        text-align: left;
    }

    .footer .col-md-4:last-child {
        text-align: right;
    }
}

.btn-lg {
    font-size: 40pt;
    text-align: center;
    line-height: 1;
    width: 2em;
    height: 2em;
    margin: 0.25em;
    vertical-align: middle;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    box-shadow: 0 0 0.5em #337AB7;
}

.btn-danger {
    box-shadow: 0 0 0.5em #D9534F;
}

@mixin responsive-jumbotron($image) {
    // TODO: Make this work for types other than jpg

    @media screen and (min-width: 1921px) {
        background-image: url('../imgs/' + $image + '-large.jpg');
    }

    @media screen and (min-width: 1025px) and (max-width: 1920px) {
        background-image: url('../imgs/' + $image + '-1920.jpg');
    }

    @media screen and (min-width: 513px) and (max-width: 1024px) {
        background-image: url('../imgs/' + $image + '-1024.jpg');
    }

    @media screen and (max-width: 512px) {
        background-image: url('../imgs/' + $image + '-512.jpg');
    }
}

@media screen and (min-width: 513px) and (max-width: 720px) {
    .btn-lg {
        font-size: 30pt;
    }
}

@media screen and (max-width: 512px) {
    .btn-lg {
        font-size: 25pt;
    }
}

.jumbotron {
    @include responsive-jumbotron('bg');

    &.notes {
        @include responsive-jumbotron('notes');
    }
}

.row {
    margin: 0;
}

.ground {
    opacity: 1;
    position: absolute;
    &.blue {
        background-color: #EEEEFF;
    }
    &.red {
        background-color: #D9534F;
        background-image: url('../imgs/mailpattern.png');
    }
}

.boxes, .notes {
    z-index: 5;
}

.lectures {
    font-size: 9pt;

    .count {
        font-family: "monospace";
    }

    h5 {
        font-size: inherit;
    }
}

.media {
    overflow: visible;
}

.media-object {
    padding: 1px;
    border: 1px solid #555;
    background-color: #eee;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    border-radius: 1px;

    height: 128px;
    box-sizing: content-box;
}
