{% extends "@theme/base.html.twig" %}

{% block body %}
    <div class="outer">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand">
                         {{- this.title ? this.title : site.title -}}
                        {#Καναβούρας Κωνσταντίνος#}
                    </span>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.auth.gr/">Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης</a></li>
                </ul>
            </div>
        </nav>

        <!-- <main> -->
            {% block content %}{% endblock %}
        <!-- </main> -->

        <footer class="page-footer">
            {% block footer %}
                <p>Copyright &copy; {{ "now" | date("Y") }}</p>
            {% endblock %}
        </footer>
    </div>

    {% block custom_scripts %}
        {% if data.personal.google_analytics %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ data.personal.google_analytics }}', 'auto');
                ga('send', 'pageview');

            </script>
        {% endif %}
    {% endblock %}
{% endblock %}
