{% extends "@theme/base.html.twig" %}

{% block body %}
    <div class="outer">
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand">
                         {{- this.title ? this.title : site.title -}}
                        {#Καναβούρας Κωνσταντίνος#}
                    </span>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://www.auth.gr/">Αριστοτέλειο Πανεπιστήμιο Θεσσαλονίκης</a></li>
                </ul>
            </div>
        </nav>

        <!-- <main> -->
            {% block content %}{% endblock %}
        <!-- </main> -->

        <footer class="footer">
            {% block footer %}
                <p>Copyright &copy; {{ "now" | date("Y") }}</p>
            {% endblock %}
        </footer>
    </div>

    {% block custom_scripts %}
        {% if data.personal.google_analytics %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ data.personal.google_analytics }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '{{ data.personal.google_analytics }}', {
                    client_storage: 'none',
                    client_id: CLIENT_ID,
                });
            </script>
        {% endif %}
    {% endblock %}
{% endblock %}
